.vscode/**
.vscode-test/**
src/**
test/**
out/test/**
integration/**
out/integration/**
.vscode-test-user-data/**
.vscode-test-workspace/**
host-check-results.json
node_modules/**
.gitignore
tsconfig.json
.eslintrc.json
**/*.map
**/*.ts

!assets/**
